.input__root {
  position: absolute;
  width: 566px;
  height: 626px;
  right: 24px;
  top: 137px;
  background: #fefefe;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
  border-radius: 10px;
}

.input__title {
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  padding-top: 88px;
  color: var(--fifth);
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 64px !important;
}

.input__wrapper div {
  height: 48px;
  border-color: var(--zero);
  color: var(--zero) !important;
  border-radius: 10px;
}

.MuiInputLabel-outlined {
  transform: translate(14px, 16px) scale(1);
}

.input__wrapper > div:last-child {
  padding-top: 32px !important;
}

.input__wrapper > div:active {
  color: var(--third) !important;
}

.input__wrapper > div:last-child > label {
  top: auto !important;
}

.input__button {
  margin-top: 110px !important;
  background: var(--second) !important;
  border-radius: 5px !important;
  height: 48px;
  width: 212px;
  color: var(--first) !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 19px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
}

.input__button_disabled {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  cursor: default;
  pointer-events: none;
  background: var(--zero) !important;
}

.input__forgot {
  padding-top: 16px;
  text-decoration: underline;
  color: var(--zero);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
}

.input__register {
  padding-top: 16px;
  display: flex;
}

.input__register > a {
  text-decoration: none;
  color: #4285f4;
  padding-left: 9px;
}

@media (max-width: 1024px) {
  .input__root {
    height: 600px;
    width: 488px;
    right: 16px;
    top: 71px;
  }
  .input__button {
    margin-top: 135px !important;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .input__root {
    height: 626px;
    width: 548px;
    left: 110px;
    right: 110px;
    top: 199px;
  }
}

@media (max-width: 375px) and (orientation: portrait) {
  .input__root {
    height: 488px;
    width: 343px;
    top: 90px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .input__title {
    padding-top: 40px;
  }

  .input__wrapper {
    padding-top: 50px;
  }

  .input__button {
    margin-top: 100px !important;
  }
}
