.app__boy {
  z-index: 2;
}

.app__items {
  position: absolute;
}

.app__plus1,
.app__plus2,
.app__left__footer,
.app__middle__footer,
.app__right__footer {
  visibility: hidden;
}

.app__spiral {
  z-index: 3;
  bottom: 6px;
  right: 591px;
}

.app__spiral2 {
  z-index: 3;
  bottom: 160px;
  left: 0px;
}

.app__wave {
  bottom: -10px;
  left: 0;
  z-index: -1;
}

@media (max-width: 1024px) {
  .app__boy {
    width: 72vw;
  }
  .app__boy img {
    object-fit: contain;
    width: 100%;
  }

  .app__wave {
    bottom: -60px;
  }

  .app__spiral {
    bottom: -10px;
    left: 591px;
    right: 0;
  }

  .app__spiral2 {
    bottom: 100px;
    left: 0px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .app__boy {
    visibility: hidden;
  }

  .app__spiral {
    top: 0;
    left: 35px;
    bottom: auto;
    right: auto;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    transform: rotate(-32.87deg);
  }

  .app__spiral2 {
    left: 82.77%;
    right: auto;
    top: 50.95%;
    bottom: auto;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    transform: rotate(20deg);
  }

  .app__plus1,
  .app__plus2,
  .app__left__footer,
  .app__middle__footer,
  .app__right__footer {
    visibility: visible;
  }

  .app__plus1 {
    left: 85.16%;
    right: 8.46%;
    top: 9.35%;
    bottom: 86.55%;
    transform: rotate(-18.74deg);
  }

  .app__plus2 {
    left: 11px;
    top: 554px;
  }

  .app__left__footer {
    left: 1.43%;
    bottom: 2.3%;
  }

  .app__middle__footer {
    left: 35.83%;
    bottom: 0%;
  }

  .app__right__footer {
    left: 69.6%;
    bottom: 0;
  }

  .app__wave {
    bottom: -80px;
  }
}

@media (max-width: 375px) and (orientation: portrait) {
  .app__plus2 {
    transform: matrix(-0.5, 0.86, -0.87, -0.5, 0, 0);
  }

  .app__wave {
    height: 100vh;
    width: 100vw;
    top: 50px;
    display: flex;
    align-items: flex-end;
  }

  .app__spiral {
    left: 6.67%;
    top: 5.58%;
    width: 68px;
    height: 68px;

    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    transform: matrix(0.84, -0.54, 0.54, 0.84, 0, 0);
  }

  .app__spiral img {
    width: 100%;
  }

  .app__spiral2 {
    right: -100px;
    bottom: 0;
    width: 65px;
    height: 65px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
    transform: matrix(-0.47, -0.88, -0.88, 0.48, 0, 0);
  }

  .app__spiral2 img {
    width: 100%;
  }

  .app__plus1,
  .app__left__footer,
  .app__middle__footer,
  .app__right__footer {
    visibility: hidden;
  }

  .app__wave {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
  }

  .app__wave svg {
    width: 100%;
  }
}
