@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --zero: #b2b7bb;
  --first: #fefefe;
  --second: linear-gradient(90deg, #ff9146 0%, #ff351b 100%);
  --third: #f4604d;
  --fourth: #10204c;
  --fifth: #b2b7bb;
}

body {
  background-color: #eef2f5;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
